.content {
  grid-area: content;
  color: #47525e;
  display: block;
}

.post{
  margin-bottom: 75px;
}

.btn{
  border-radius: 3px;
  float: right;
  padding: 7px 110px 7px 30px;
  background-color: #0cb658;
  font-size: 30px;
  color: #fff;

  margin-top: 25px;
  border: 0;
  margin-right: 1%;
}

.btn:hover, .btn:focus{
  outline: none;
}

.content__photo {
  width: 100%;
  object-fit:cover;
  height: 225px;
  margin-bottom: 20px;
}

