.post__item{
  position: relative;
  margin-top: 70px !important;
  margin-left: 110px;
  font-size: 25px;
  font-weight: 400;
}

.post__item:first-child{
  margin-top: 80px !important;
}

.post__item:last-child{
  margin-bottom: 50px;
}

.statistics{
  display: flex;
}

.repost{
  margin-left: 15px;
  display: flex;
  margin-top: 3px;
}

.likes{
  display: flex;
  margin-top: 3px;
}

.count{
  margin-left: 5px;
  padding-bottom: 1px;
  font-size: 20px;
}

.post__item i{
  margin-top: 6px;
  margin-left: 3px;
  font-size: 19px;
}

.post__item img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;

  position: absolute;
  left: -100px;
  bottom: -7px;
}
