main {
  display: grid;

  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 0px 1fr;
  grid-template-columns: 2fr 16fr;
  grid-gap: 20px;

  overflow: hidden;
}

.app-wrapper {
  max-width: 1380px;
  margin: 0 auto;

  margin-top: 20px;
}

.app-wrapper-content{
  grid-area: content;
  color: #47525e;
  display: block;
}
